@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap">
</head>

<style>

    body {
        background-image: url("/css/images/backgroundhome.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .overlay-text {
        text-align: center;
        font-family: 'Great Vibes';
        color: black; /* Set the text color */
        font-size: 150px; /* Adjust the font size as needed */
        margin-top:105px;
    }
</style>
<div class="overlay-text" >
    <p>Welcome to <br> Jewelry Store</p>
</div>
